@using Microsoft.AspNetCore.Identity;
@using SchoolSocialMediaApp.Core.Contracts;
@using SchoolSocialMediaApp.Infrastructure.Data.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IRoleService RoleService
@model IEnumerable<SchoolViewModel>

@{
    ViewBag.Title = "Registered Schools";

    var user = await UserManager.GetUserAsync(User);
    var userIsPartOfSchool = RoleService.IsUserPartOfSchool(await UserManager.GetUserAsync(User));
    var userIsAdmin = await UserManager.IsInRoleAsync(user, "Admin");

}

<h1>@ViewBag.Title</h1>

@if (Model.Count() == 0)
{
    if (!string.IsNullOrEmpty(ViewBag.SearchString))
    {
        <div class="row">
            <div class="col-md-12">
                <form method="get" action="@Url.Action("Index")" class="form-inline">
                    <div class="form-group mb-2">
                        <input type="text" name="searchString" class="form-control" placeholder="Search by name..." value="@ViewBag.SearchString">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </form>
            </div>
        </div>

        <h2>No schools with "@ViewBag.SearchString" in their Name</h2>
    }
    else
    {
        <h2>No schools to display.</h2>
    }
}
else
{
    <div class="row">
        <div class="col-md-12">
            <form method="get" action="@Url.Action("Index")" class="form-inline">
                <div class="form-group mb-2">
                    <input type="text" name="searchString" class="form-control" placeholder="Search by name...">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </form>
        </div>
    </div>
    <div class="row">

        @foreach (var school in Model)
        {
            <div class="col-md-4">
                <div class="card text-black mb-3 m-4" style="max-width: 25rem;">
                    <div class="card-header">
                        <h5 class="text-dark">Principal: @school.PrincipalName</h5>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">@school.Name</h5>
                        <img class="card-img-top img" src="@school.ImageUrl" alt="School image">
                        <p class="card-text">Location: @school.Location</p>
                        <a asp-controller="School" asp-action="Details" asp-route-id="@school.Id" class="btn btn-primary">Details</a>
                        @if (userIsAdmin)
                        {
                            <a asp-area="Admin" asp-controller="Admin" asp-action="AdminPostView" asp-route-schoolId="@school.Id" class="btn btn-primary">Manage Posts</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
