@model SchoolManageViewModel

@{
    ViewBag.IsRenaming = false;
    ViewBag.Title = "Manage School";
}
@if (ViewBag.Message != null)
{
    <h2 class="badge @ViewBag.ClassOfMessage">@ViewBag.Message</h2>
}

@if (ViewBag.Code == 404)
{
    <h1 class="text-warning">No school to manage. You're not principal anymore!</h1>
}

else
{
    <form method="post" enctype="multipart/form-data" class="mb-4">
        <div class="form-group">
            <label asp-for="Name">School Name</label>
            <input asp-for="Name" type="text" class="form-control" value="@Model.Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Location"></label>
            <div class="input-group ">
                <input id="Location" asp-for="Location" class="form-control" placeholder="Enter school's location" aria-required="true" />
                <button id="getLocationButton" type="button" class="btn btn-secondary input-group-text">
                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                </button>
                <div class="container-fluid">
                    <span asp-validation-for="Location" class="input-group-sm text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Principal">School's Principal'</label>
            <input asp-for="Principal" type="text" class="form-control" value="@Model.Principal.FirstName @Model.Principal.LastName" readonly>
            <span asp-validation-for="Principal" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" type="text" class="form-control" value="@Model.Description">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <input asp-for="Id" type="hidden" name="id" value="@Model.Id">
        <input asp-for="ImageUrl" type="hidden" value="@Model.ImageUrl">
        <div class="form-group">
            <label asp-for="ImageFile">Upload New Profile Picture( Only .jpg and .png are accepted! )</label>
            <input asp-for="ImageFile" type="file" class="form-control">
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
    <div class="row">
        <div class="col-sm-3">
            <a class="btn btn-danger" asp-controller="School" asp-action="Delete">Delete School</a>
        </div>
    </div>

    <a asp-controller="Invitation" asp-action="ManageSent" asp-route-schoolId="@Model.Id" class="btn btn-primary mb-4 mt-4">Manage Sent Invitations</a>

    <h2>Teachers</h2>
    @if (Model.Teachers.Any())
    {
        <div class="row container-fluid">
            <table class="table table-striped table-hover table-responsive-md ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var teacher in Model.Teachers)
                    {
                        <tr>
                            <td>@teacher.FirstName @teacher.LastName </td>
                            <td>@teacher.Email</td>
                            <td>
                                <form asp-controller="School" asp-action="Remove" method="post">
                                    <input type="hidden" name="schoolId" value="@teacher.SchoolId" />
                                    <input type="hidden" name="userId" value="@teacher.Id" />
                                    <button type="submit" class="btn btn-primary">Remove from school</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No teachers found.</p>
    }
    <a asp-controller="Invitation" asp-action="Send" asp-route-role="Teacher" asp-route-schoolId="@Model.Id" class="btn btn-primary mb-4">Send Invitation</a>

    <h2>Parents</h2>
    @if (Model.Parents.Any())
    {
        <div class="row container-fluid">
            <table class="table table-striped table-hover table-responsive-md ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var parent in Model.Parents)
                    {
                        <tr>
                            <td>@parent.FirstName @parent.LastName </td>
                            <td>@parent.Email</td>
                            <td>
                                <form asp-controller="School" asp-action="Remove" method="post">
                                    <input type="hidden" name="schoolId" value="@parent.SchoolId" />
                                    <input type="hidden" name="userId" value="@parent.Id" />
                                    <button type="submit" class="btn btn-primary">Remove from school</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No parents found.</p>
    }
    <a asp-controller="Invitation" asp-action="Send" asp-route-role="Parent" asp-route-schoolId="@Model.Id" class="btn btn-primary mb-4">Send Invitation</a>

    <h2>Students</h2>
    @if (Model.Students.Any())
    {
        <div class="row container-fluid">
            <table class="table table-striped table-hover table-responsive-md ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.Students)
                    {
                        <tr>
                            <td>@student.FirstName @student.LastName </td>
                            <td>@student.Email</td>
                            <td>
                                <form asp-controller="School" asp-action="Remove" method="post">
                                    <input type="hidden" name="schoolId" value="@student.SchoolId" />
                                    <input type="hidden" name="userId" value="@student.Id" />
                                    <button type="submit" class="btn btn-primary">Remove from school</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No students found.</p>
    }
    <a asp-controller="Invitation" asp-action="Send" asp-route-role="Student" asp-route-schoolId="@Model.Id" class="btn btn-primary mb-4">Send Invitation</a>

    <style>
        .school-name {
            font-size: 24px;
            font-weight: bold;
            color: #007bff;
        }

        .principal-name {
            font-size: 18px;
            color: #333;
        }

        /* Custom CSS for input field width */
        .school-name-input {
            max-width: 200px; /* Adjust the width as needed */
        }
    </style>
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;

        var xhr = new XMLHttpRequest();
        xhr.open("GET", `https://nominatim.openstreetmap.org/reverse?lat=${latitude}&lon=${longitude}&format=json`, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var response = JSON.parse(xhr.responseText);
                var address = response.display_name;
                var locationInput = document.getElementById("Location");
                locationInput.value = address;
            }
        };
        xhr.send();
    }

    // Call the getLocation function when the button is clicked
    document.getElementById("getLocationButton").addEventListener("click", function () {
        getLocation();
    });
</script>