@model SchoolManageViewModel
<h1>Manage School</h1>
@if(ViewBag.Message != null)
{
<h2 class="text-bg-info badge">@ViewBag.Message</h2>
}

<h2>School Details</h2>
<p>School Name: @Model.Name</p>
<p>Principal: @Model.Principal.FirstName @Model.Principal.LastName</p>

<a asp-controller="Invitation" asp-action="ManageSent" asp-route-schoolId ="@Model.Id" class="btn btn-primary mb-4">Manage Sent Invitations</a>

<h2>Teachers</h2>
@if (Model.Teachers.Any())
{
    foreach (var teacher in Model.Teachers)
    {
        <p>Teacher Name: @teacher.FirstName @teacher.LastName</p>
    }
}
else
{
    <p>No teachers found.</p>
}
<a asp-controller="Invitation" asp-action="Send" asp-route-role="Teacher" class="btn btn-primary mb-4">Send Invitation</a>

<h2>Parents</h2>
@if (Model.Parents.Any())
{
    foreach (var parent in Model.Parents)
    {
        <p>Parent Name: @parent.FirstName @parent.LastName</p>
    }
}
else
{
    <p>No parents found.</p>
}
<a asp-controller="Invitation" asp-action="Send" asp-route-role="Parent" class="btn btn-primary mb-4">Send Invitation</a>

<h2>Students</h2>
@if (Model.Students.Any())
{
    foreach (var student in Model.Students)
    {
        <p>Student Name: @student.FirstName @student.LastName</p>
    }
}
else
{
    <p>No students found.</p>
}
<a asp-controller="Invitation" asp-action="Send" asp-route-role="Student" class="btn btn-primary mb-4">Send Invitation</a>