@using SchoolSocialMediaApp.Infrastructure.Data.Models;
@model List<SchoolSubjectViewModel>;

@{
    ViewBag.Title = "Add subjects to class";
}

<h1>@ViewBag.Title</h1>
@if (ViewBag.Message != null)
{
    <h2 class="badge @ViewBag.ClassOfMessage">@ViewBag.Message</h2>
}

@if (Model.Any())
{
    <div class="row container-fluid">
        <table class="table table-striped table-hover table-responsive-md ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var subject in Model)
                {
                    <tr>
                        <td>@subject.Name </td>
                        <td>@subject.TeacherName</td>
                        <td>
                            <form asp-controller="SchoolClass" asp-action="AddSubjectToClass" method="post">
                                <input type="hidden" name="subjectId" value="@subject.Id" />
                                <input type="hidden" name="classId" value="@ViewBag.ClassId" />
                                <input type="hidden" name="schoolId" value="@ViewBag.SchoolId" />
                                <button type="submit" class="btn btn-primary">Add to class</button>
                            </form>
                        </td>
                        @*<td><a asp-controller="Invitation" asp-action="Send" asp-route-role="@ViewBag.Role" asp-route-id="@candidate.Id" class="btn btn-primary">Invite to school as @ViewBag.Role</a></td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h2>No free subjects found.</h2>
}
