@model List<PostViewModel>
@{
    ViewData["Title"] = "Posts Index";
}

<h1>@ViewData["Title"]  <i class="fa-sharp fa-solid fa-pen-to-square"></i></h1>

@if (Model is not null)
{
    <a class="btn btn-success mb-4" asp-controller="Post" asp-action="Create">Create New Post</a>
    @if (Model.Count > 0)
    {
        foreach (var post in Model)
        {
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="post">
                    <div class="post-header">
                        <img src="@post.Creator.ImageUrl" alt="Profile Picture" class="profile-picture" style="max-width:15rem;" />
                        <div class="user-info">
                            <h4>@post.Creator.Username</h4>
                            @if (post.IsEdited)
                            {
                                <p>@post.CreatedOn <i class="fa-solid fa-pen"></i> </p>
                            }
                            else
                            {
                                <p>@post.CreatedOn</p>
                            }
                        </div>
                    </div>
                    <div class="post-content">
                        <p>@Html.Raw(post.Content)</p>
                    </div>
                    <a class="btn btn-primary" asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id">Edit</a>
                    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" onclick="setDeletePostId('@post.Id')">Delete</a>
                </div>
            </div>
        }
    }
    else
    {
        <p>No posts to display.</p>
    }
}
else
{
    <p class="badge text-bg-danger">You are not registered in any school</p>
}

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this post?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="deletePostForm" method="post" asp-action="Delete" asp-controller="Post">
                    <input id="deletePostId" name="id" type="hidden" value="" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function setDeletePostId(postId) {
        document.getElementById("deletePostId").value = postId;
    }
</script>