@using SchoolSocialMediaApp.ViewModels.Models.Student
@model StudentPanelViewModel
@{
    ViewBag.Title = "Student Panel";
}

@if (ViewBag.Message != null)
{
    <h2 class="badge @ViewBag.ClassOfMessage">@ViewBag.Message</h2>
}

<div class="row">
    <h1>Welcome to the @ViewBag.Title</h1>
</div>
<h2>Subjects</h2>
@if (Model.SchoolClass is not null)
{
    <div class="row container-fluid">
        <table class="table table-striped table-hover table-responsive-md ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th style="width: 75%">Teacher</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var subject in Model.SchoolClass.Subjects)
                {
                    <tr>
                        <td>@subject.Name</td>
                        <td>@subject.TeacherName</td>
                        <td>
                            <a class="btn btn-primary" asp-area="Student" asp-controller="Student" asp-action="SubjectPage" asp-route-subjectId="@subject.Id" asp-route-classId="@Model.SchoolClass.Id">Enter Subject's page</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No Schools found !</p>
}
@* <h2>Classes</h2>
@if (Model.SchoolClasses.Any())
{
    <div class="row container-fluid">
        <table class="table table-striped table-hover table-responsive-md ">
            <thead>
                <tr>
                    <th>Grade</th>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var schoolClass in Model.SchoolClasses)
                {
                    <tr>
                        <td>@schoolClass.Grade</td>
                        <td>@schoolClass.Name</td>
                        <td>
                            <a class="btn btn-warning btn-sm" asp-area="Admin" asp-controller="Admin" asp-action="MakeAdmin" asp-route-id="@schoolClass.Id">Make Admin</a>
                        </td>
                        <td>
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-area="Admin" asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@schoolClass.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No classes found !</p>
} *@
