@using SchoolSocialMediaApp.ViewModels.Models.Student;
@model StudentSubjectClassViewModel;

@{
    ViewBag.Title = "Subject Page";
}

@if (ViewBag.Message != null)
{
    <h2 class="badge @ViewBag.ClassOfMessage">@ViewBag.Message</h2>
}

<div class="row">
    <h1>Welcome to the @ViewBag.Title</h1>
</div>
<h2>Students</h2>
@if (Model.Class.Students.Count > 0)
{
    <div class="row container-fluid">
        <table class="table table-striped table-hover table-responsive-md ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th style="width: 75%">Grades</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.Class.Students)
                {
                    <tr>
                        <td>@student.FirstName @student.LastName</td>
                        <td>@student.IsStudent</td>
                        <td>
@*                             <a class="btn btn-primary" asp-area="Student" asp-controller="Student" asp-action="SubjectPage" asp-route-subjectId="@subject.Id" asp-route-classId="@Model.SchoolClass.Id">Enter Subject's page</a> *@
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}