@model List<InvitationViewModel>;
@{
    ViewBag.Title = "Manage Sent Invitations";
}
<h1>@ViewBag.Title</h1>
<h2 class="badge text-bg-info" >@ViewBag.Message</h2>

@if (Model.Any())
{
    <div class="row container-fluid">
        <table class="table table-striped table-hover table-responsive-md">
            <thead>
                <tr>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Role</th>
                    <th>Is Pending</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var invitation in Model)
                {
                    <tr>
                        <td>@invitation.Sender.FirstName @invitation.Sender.LastName</td>
                        <td>@invitation.Receiver.FirstName @invitation.Receiver.LastName</td>
                        <td>@invitation.Role</td>
                        <td>@invitation.IsPending</td>
                        <td>
                            <form asp-controller="Invitation" asp-action="Delete" method="post">
                                <input type="hidden" name="id" value="@invitation.Id" />
                                <input type="hidden" name="schoolId" value="@invitation.SchoolId" />
                                <button type="submit" class="btn btn-primary">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary container-fluid" asp-controller="Invitation" asp-action="DeleteAll" asp-route-schoolId="@Model.FirstOrDefault()?.SchoolId">Delete All</a>
        </div>
    </div>
}
else
{
    <h2>No invitations found.</h2>
}